html {
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
}

#div1 {
    border: solid red 5px;
    padding: 10px;
    margin-bottom: 5px;
    width: 400px;
    height: 50px;
    margin-bottom: 5px;
    background-color: aqua !important;  /*important keyword is used to no others can override this tag*/
}

#div2 {
    border: solid blue 7px;
    padding: 10px;
    width: 400px;
    height: 100px;
    margin-bottom: 7px;
    box-sizing: content-box;
}
#div3 {
    border: solid green 5px;
    padding: 5px;
    margin-bottom: 5px;
    width: 200px;
    height: 40px;
}
#div1 {
    background-color: blue;
}